<style>
    form{
        color:#be79df;
    }
</style>
<div class="container card col-md-5 " style="background-color:transparent;height:400px;float: left;">
<div id="login-box">
<div class="logo">

<h1  class="tweak" style="color:#be79df">Login</h1>
</div><!-- /.logo -->
<form class="controls" [formGroup]="loginform" (click)="Login()">
<input type="text"  formControlName="uname"  placeholder="Username" class="form-control" />&nbsp;&nbsp;
<input type="password" formControlName="password"  placeholder="Password" class="form-control" />&nbsp;&nbsp;
<input type="radio" formControlName="role" value="buyer"  >Buyer
<input type="radio" formControlName="role" value="seller" >Seller
<button type="button" class="btn btn-default btn-block btn-custom btn-primary">Login</button><br>
<a [routerLink]="'/home/registerbuyer'"    style="color:#be79df;">Register New Buyer ?</a>&nbsp;&nbsp;<br>
<a [routerLink]="'/home/registerseller'" style="color:#be79df;">Register New Seller ?</a>          



<div class="form-group ">
    <label class="text-error ">{{errormessage}}</label>
    </div>
</form>

