

<style>
    label{
        color:gold
    }
</style>
<div class="container card col-md-4" style="height: 300;background-color:black;">
    <div class="card-body" >
        <form [formGroup]="sellerregisterform" (ngSubmit)="onSubmit()"  >

            <div class="form-group">
                    <label>User Name</label>
                    <input type="text" formControlName="sname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sname.errors }" />
                    <div *ngIf="submitted && f.sname.errors" class="invalid-feedback">
                        <div *ngIf="f.sname.errors.required">Name is required</div>
                        <div *ngIf="f.sname.errors.pattern">Enter only Alphabets in upper case</div>
                    </div>
             </div>
            <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
                    <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                        <div *ngIf="f.companyname.errors.required">company name is required</div>
                    </div>
            </div>
            <div class="form-group">
                <label>Breif about Company</label>
                <input type="text" formControlName="briefaboutcompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefaboutcompany.errors }" />
                <div *ngIf="submitted && f.briefaboutcompany.errors" class="invalid-feedback">
                    <div *ngIf="f.briefaboutcompany.errors.required">about company is required</div>
                </div>
        </div>
        <div class="form-group">
            <label>Postal Adress</label>
            <input type="text" formControlName="postaladdress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postaladdress.errors }" />
            <div *ngIf="submitted && f.postaladdress.errors" class="invalid-feedback">
                <div *ngIf="f.postaladdress.errors.required">postal address is required</div>
            </div>
    </div>
    <div class="form-group">
        <label>GSTIN</label>
        <input type="number" formControlName="GSTIN" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.GSTIN.errors }">
           <div *ngIf="submitted && f.GSTIN.errors" class="invalid-feedback">
            <div *ngIf="f.GSTIN.errors.required">GSTIN is required</div>
        </div>
</div>

            
          <div class="form-group">
                <label>Mobile</label>
                <input type="text" value="+91" readonly size="2"/><input type="number" formControlName="smobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smobile.errors }" />
                <div *ngIf="submitted && f.smobile.errors" class="invalid-feedback">
                    <div *ngIf="f.smobile.errors.required">Mobile no is required</div>
                    <div *ngIf="f.smobile.errors.pattern">Mobile no Must be Valid</div>
                </div>
            
         </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="smail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smail.errors }" />
                <div *ngIf="submitted && f.smail.errors" class="invalid-feedback">
                    <div *ngIf="f.smail.errors.required">Email is required</div>
                    <div *ngIf="f.smail.errors.semail">Email must be a valid email address</div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Update Profile</button>
          </div>
        </form>
    </div>
</div>


