<style>
    label{
        color:white
    }
</style>
<div class="container card col-md-4 " style="height: 300;background-color:purple;">
    <div class="card-body">
        <form [formGroup]="buyerregisterform" (ngSubmit)="onSubmit()" >
            <div class="form-group ">
                <marquee style="color: cyan;background-color: darkorchid;">Buyer Register</marquee>
                    <label>ID</label>
                    <input type="text" formControlName="bid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bid.errors }">
                       <div *ngIf="submitted && f.bid.errors" class="invalid-feedback">
                        <div *ngIf="f.bid.errors.required">ID is required</div>
                    </div>
           </div>
            <div class="form-group ">
                    <label>User Name</label>
                    <input type="text" formControlName="bname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bname.errors }" />
                    <div *ngIf="submitted && f.bname.errors" class="invalid-feedback">
                        <div *ngIf="f.bname.errors.required">Name is required</div>
                        <div *ngIf="f.bname.errors.pattern">Enter only Alphabets in upper case</div>
                    </div>
             </div>
            <div class="form-group ">
                    <label>Created DateTime</label>
                    <input type="date" formControlName="createddatetime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createddatetime.errors }" />
                    <div *ngIf="submitted && f.createddatetime.errors" class="invalid-feedback">
                        <div *ngIf="f.createddatetime.errors.required">Join date is required</div>
                    </div>
            </div>
            
          <div class="form-group ">
                <label>Mobile</label>
                <input type="text" value="+91" readonly size="2"/><input type="number" formControlName="bmobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bmobile.errors }" />
                <div *ngIf="submitted && f.bmobile.errors" class="invalid-feedback">
                    <div *ngIf="f.bmobile.errors.required">Mobile no is required</div>
                    <div *ngIf="f.bmobile.errors.pattern">Mobile no Must be Valid</div>
                </div>
            
         </div>
            <div class="form-group ">
                <label>Email</label>
                <input type="text" formControlName="bmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bmail.errors }" />
                <div *ngIf="submitted && f.bmail.errors" class="invalid-feedback">
                    <div *ngIf="f.bmail.errors.required">Email is required</div>
                    <div *ngIf="f.bmail.errors.bemail">Email must be a valid email address</div>
                </div>
            </div>
               <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                    </div>
                </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Submit</button>
          </div>
        </form>
    </div>
</div>



