<style>
    tr{
        color: white;
        
    }
    td{
        color:white;
    }
    label{
        color: white;
    }
</style>
  <div class="card m-1" style="width:100%;align-items: center;background-color: black;">
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Item Id</th>
                <th>Price</th>
                <th>ItemName</th>
                <th>Stock</th>
                <th>Sid</th>
                <th>image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of list">
               <td>{{item.iid}}</td>
              <td>{{item.price}}</td>
               <td>{{item.itemName}}</td>
               <td>{{item.stockNumber}}</td>
               <td>{{item.sid}}</td>
               <td><img src='/assets/images/{{item.imagepath}}' style="height:150px; width:150px;"></td>
               <td><button class="btn btn-primary mr-1"   type="button" (click)="Search(item.iid)">Edit</button></td>
               <td><button class="btn btn-danger" type="button" (click)="Delete(item.iid)">Delete</button></td>
            </tr>
        </table>
    </div>
    </div>
    
    <div class="container card col-md-3"  [hidden]="isShow" style="height: 300;background-color:black;">
        <div class="card-body" >
            <form [formGroup]="itemform"   >
                <marquee style="color: cyan;background-color: darkorchid;">Adding Items</marquee>
                <div class="form-group">
                    <label >Item ID</label>
                    <input type="text" formControlName="iid" class="form-control" readonly="readonly"/>
                    <!-- <select formControlName="iid" class="form-control">
                        <option *ngFor="let item of list" value="{{item.iid}}">{{item.iid}}</option>
                    </select> -->
                  </div>
               
               
                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" formControlName="itemname" class="form-control"  />
                   
            </div>
            <div class="form-group">
                <label>Iteam Price </label>
                <input type="number" formControlName="price" class="form-control"  />
               
            </div>
            <div class="form-group">
                <label>Category Id</label>
                <input type="number" formControlName="categoryid" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label>SubCategory Id</label>
                <input type="number" formControlName="subcategoryid" class="form-control" readonly />
            </div>
           
        <div class="form-group">
            <label>Stock Number</label>
            <input type="number" formControlName="stocknumber" class="form-control"  />
        </div>
        <div class="form-group">
            <label>Seller Id</label>
            <input type="number" formControlName="sid" class="form-control"  readonly/>
        </div>
    
        <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control"  />
           
    </div>
    <div class="form-group">
        <label>Remarks</label>
        <input type="text" formControlName="remarks" class="form-control"  />
       
</div>
<div class="form-group">
    <label>Image Path</label>
    <input type="text" formControlName="imagepath" class="form-control" readonly   />
   
</div>
    
     
    
              
                   
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="Update()">Add Item</button>&nbsp;
                   
                    
              </div>
            </form>
        </div>
    </div>
    
    
    
    