
<style>
    label{
        color:gold
    }
    button{
        background-color: green;
        color: white;
    }
</style>
<div class="container card col-md-4 " style="height: 300;background-color:black;">
    <div class="card-body">
        <form [formGroup]="buyerregisterform" (click)="onSubmit()" >
           
            <div class="form-group ">
                    <label>User Name</label>
                    <input type="text" formControlName="bname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bname.errors }" />
                    <div *ngIf="submitted && f.bname.errors" class="invalid-feedback">
                        <div *ngIf="f.bname.errors.required">Name is required</div>
                        <div *ngIf="f.bname.errors.pattern">Enter only Alphabets in upper case</div>
                    </div>
             </div>
            
          <div class="form-group ">
                <label>Mobile</label>
                <input type="text" value="+91" readonly size="2"/><input type="number" formControlName="bmobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bmobile.errors }" />
                <div *ngIf="submitted && f.bmobile.errors" class="invalid-feedback">
                    <div *ngIf="f.bmobile.errors.required">Mobile no is required</div>
                    <div *ngIf="f.bmobile.errors.pattern">Mobile no Must be Valid</div>
                </div>
            
         </div>
            <div class="form-group ">
                <label>Email</label>
                <input type="text" formControlName="bmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bmail.errors }" />
                <div *ngIf="submitted && f.bmail.errors" class="invalid-feedback">
                    <div *ngIf="f.bmail.errors.required">Email is required</div>
                    <div *ngIf="f.bmail.errors.bemail">Email must be a valid email address</div>
                </div>
            </div>
            <div class="text-center">
                <button class="button">Update Profile</button>
          </div>
        </form>
    </div>
</div>



