<style>
    #e{
        color: white;
    }
    #r{

color: white;
    }
#m{
    align-content: center;
}
    
</style>
<div  id="m" class="card m-1" style="width:100%;align-items: center; background-color: black;text-decoration-color: white;">
    <div class="container">
        <table class="table table-bordered align-content center">
            <tr id="e">
                <th>Category Id</th>
                <th>SubCategory Id</th>
                <th>SubCategory Name</th>
                <th>BriefDetails</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr id="r" *ngFor="let item of list">
                <td>{{item.categoryId}}</td>
               <td>{{item.subcategoryId}}</td>
               <td>{{item.subcategoryName}}</td>
               <td>{{item.briefDetails}}</td>
               <td><button class="btn btn-primary mr-1" type="button" >Edit</button></td>
               <td><button class="btn btn-danger" type="button" (click)="Delete(item.subcategoryId)">Delete</button></td>
            </tr>
        </table>
    </div>
    </div>
