<style>
    label{
        color:gold
    }
    .card-body{

        float:right;
    }
    #u{
        float: left;
    }
  
   
</style>
<div id="u">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
<div class="container "  id="u" style=" background-color:black;align-content: center;">
    <div class="card-body" >
        <form [formGroup]="additemform"   >
             <div class="form-group">
                <label style="color:gold;">Choose Category</label>
                <!-- <input type="text" formControlName="categoryId" class="form-control" /> -->
                <select formControlName="categoryid" class="form-control" (change)="GetSubCategory()">
                     <option *ngFor="let item of clist" value="{{item.categoryId}}">{{item.categoryName}}</option>   
                </select>
            </div>
             
            <div class="form-group">
                <label style="color:gold;">Choose SubCategory</label>
                <!-- <input type="text" formControlName="subcategoryId" class="form-control" /> -->
                
                <select formControlName="subcategoryid" class="form-control" >
                    <option *ngFor="let item1 of sclist" value="{{item1.subcategoryId}}">{{item1.subcategoryName}}</option>   
               </select> 
            </div> 
            <div class="form-group">
                <label>Item Name</label>
                <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                    <div *ngIf="f.itemname.errors.required">Item Name is required</div>
                </div>
        </div>
        <div class="form-group">
            <label>Iteam Price </label>
            <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">price  is required</div>
             
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
    </div>
    <div class="form-group">
        <label>Upload image </label>
        <input type="file" (change)="fileEvent($event)" formControlName="imagepath" class="form-control"  />
       

 </div>

    <div class="form-group">
        <label>Stock Number</label>
        <input type="number" formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }" />
        <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
            <div *ngIf="f.stocknumber.errors.required">Id is required</div>
         
        </div>

 </div>
    <div class="form-group">
        <label>Remarks</label>
        <textarea type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }"></textarea>
           <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
            <div *ngIf="f.remarks.errors.required">GSTIN is required</div>
        </div>
</div>

          
               
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="Add()">Add Item</button>&nbsp;
               
                
          </div>
        </form>
    </div>
</div>
</div>



