
                  <style>
                    label{
                        color:gold;
                    }
                    td,tr{
                      color:white;
                    }
                </style>
                  

   
     
      <div class="col-md-3" *ngFor="let i of list1">
            <div class="card ">
                             
                 <div class="card-body" style="background-color: black;" > 
                               <td> <img class="card-img-top" src="/assets/images/{{i.imagepath}}" alt="Card image cap"></td><br>
                                <td>ItemName:{{i.itemName}}</td><br>
                               <td> Description:{{i.description}}</td><br>
                               <td>price:{{i.price}}</td><br>
                               <td>Stock:{{i.stockNumber}}</td><br>
                                <td>Remarks:{{i.remarks}}</td>
                   </div>
                              
                              <div class="text-center">
                                <button class="btn btn-primary mr-1" (click)="AddtoCart(i)"> Add</button>
                                <button class="btn btn-primary"  (click)="buy(i)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Buy</button>
                            </div>
            </div>
                            <br>
           </div>
             

               
          